html{
    height: 801px;
    width: 1440px;
    left: -720px;
    top: -513px;
    border-radius: 0px;    
    background-color: rgb(85, 179, 255);
   
    
    
}

header{
    height: 318px;
width: 1440px;
left: 0px;
top: 109px;
border-radius: 0px;
padding: 32px;
 
    color: white;
    font-family:'Lucida Sans',sans-serif;


   





}
section{
    width: 1440px;
    height: 318px;
    
    left: 0px;
    top: 109px;
    border-radius: 0px;
    padding: 32px;
    background-color: white; 
    }
    figure{
        height: 247px;
        width: 247px;
        left: 227px;
        top: 35.5px;
        border-radius: 0px;
        background-color: rgb(85, 179, 255);
        }

        div{  
            height: 186px;
            width: 614px;
            left: 599px;
            top: 66px;
            border-radius: 0px;
            background-color: white;
            
    }
    .hobbies{  
   
    height: 249px;
    width: 595px;
    left: 111.5px;
    top: 20px;
    border-radius: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: white ;
  
    
    }
    
    .secaolh{  /*<section class= "slista " E a seção dos hobbys e Tops -->*/
        height: 289px;
        width: 1440px;
        left: 0px;
        top: 427px;
        border-radius: 0px;
        display: flex;
        padding: 20px;
        background-color:rgb(85, 179, 255);
        
    }

    .card1{
        height: 150px;
        width: 102px;
        left: 45px;
        top: 0px;
        border-radius: 5px;
        padding: 17px;
        background-color: white;
        
    }
    .card2{
        height: 150px;
        width: 103px;
        left: 112px;
        top: 0px;
        border-radius: 5px;
        padding: 17px;
        background-color: white;    
    }
    .card3{
        height: 150px;
        width: 103px;
        left: 225px;
        top: 0px;
        border-radius: 5px;
        padding: 17px;
        background-color: white;
    }
    .card4{
        height: 150px;
        width: 103px;
        left: 338px;
        top: 0px;
        border-radius: 5px;
        padding: 17px;
        background-color:white;
    }
    .card5{
        height: 150px;
        width: 104px;
        left: 451px;
        top: 0px;
        border-radius: 5px;
        padding: 17px;
        background-color: white;
    
    }

    .card6{
        height: 150px;
        width: 104px;
        left: 0px;
        top: 0px;
        border-radius: 5px;
        padding: 17px;
        background-color: rgb(85, 179, 255);
        }
        .card7{
            height: 150px;
            width: 103px;
            left: 114px;
            top: 0px;
            border-radius: 5px;
            padding: 17px;
            background-color: rgb(85, 179, 255);
            
        }
        .card8{
            height: 150px;
            width: 102px;
            left: 227px;
            top: 0px;
            border-radius: 5px;
            padding: 17px;
            background-color:white;
            ;
            
        }
        .card9{
        height: 150px;
        width: 103px;
        left: 339px;
        top: 0px;
        border-radius: 5px;
        padding: 17px;
        background-color: white;
        }
        .card10{
            height: 150px;
            width: 102px;
            left: 0px;
            top: 0px;
            border-radius: 5px;
            padding: 17px;
            background-color: white;
        }
        
        footer{
            height: 70px;
            width: 1440px;
            left: 0px;
            top: 731px;
            border-radius: 0px;
            padding: 16px 32px 16px 32px;
            background-color: white;
            }
       .t{
     
        position: absolute;
left: 30%;
right: 50%;
top: 50%;

       }